.chartiy {
  height: 90px;
  width: auto;
  margin: 10px 10px;
  padding: 10px;
}

.chartiy img {
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.452);
}
