.welcomeMessage {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.801);
}

.bigLandingButton {
  margin: 18%;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  font-size: 1.3em;
  background-color: #ffe761da;
  border: 2px solid white;
  color: rgb(26, 26, 26);
  font-weight: 400;
}

.bigLandingButton:hover {
  border: 1px solid rgba(255, 255, 255, 0.747);
  font-size: 1.34em;
}

.bigLandingButton:active {
  border-color: rgba(0, 0, 0, 0.397);
  color: white;
}
