.container {
  margin: auto;
  width: 60%;
}

.populateAllRuns {
  height: 180px;
  overflow: scroll;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h1 {
  margin: 35px;
  font-weight: 400;
}

.scroll {
  margin-bottom: 30px;
}
