.wrapper {
  margin: 50px 0;
}

.logRun {
  margin: 1% 15%;
  width: 100%;
}

label {
  margin: 12px 0;
  color: black;
  height: 25px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.288);
  font-size: 1.18em;
  font-weight: 400;
}

button {
  width: 80px;
  margin: 20px 0;
}
