.allRuns {
  margin: 3% 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  height: 250px;
  overflow: scroll;
}

h1 {
  font-size: 1.6em;
  font-weight: 400;
}
